
body{
   text-align: center;
}
main{
     margin: 0 auto;
    grid-template-rows: 5em 2em 2em;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em;
    width: 35%;
}
form{
    grid-column:1/ span 12;
     grid-template-rows: 2em 2em;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5em;
}
#btnContainer{
    
      grid-column: 1/ span 12;
     grid-template-rows: 2em;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5em;
}
.uno{
    grid-column: span 6;
}

.due{
    grid-column: span 6;
}
.btnform{
    grid-column:6 /span 2;
}
.verticalAling{
display: flex;
align-items: center;
justify-content: center;
}
.bgSomma{
    background-color: green;
    grid-column: 1/span 3;
}
.bgDifferenza{
    background-color: crimson;
    grid-column: 4/span 3;
}
.bgMoltiplicazione{
    background-color: violet;
    grid-column: 7/span 3;
}
.bgDivisione{
    background-color: yellow;
    grid-column: 10/span 3;
}
.dNone{
    display: none;
}
.dGrid{
    display:grid;
}